.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    height: 30px;
}



.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}



button {
    height: 30px;
    width: 40px;
}