:root {
    --background: #f6f6f6;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #aaa;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-red: #faa;
    --btn-red-hover: #e99;
    --btn-red-active: #d88;
    --btn-blue: #aaf;
    --btn-blue-hover: #99e;
    --btn-blue-active: #88d;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 400px;
    justify-content: center;
    flex-direction: column;
}

input {
    height: 60px;
    margin-bottom: 10px;
}

.span-2 {
    grid-column: span 2;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.back {
    background-color: var(--btn-red);
}
.clear {
    background-color: var(--btn-blue);
}

button {
    padding: 20px;
}